<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=10.97.6.10;Initial Catalog=MCO;Persist Security Info=True;User ID=mco;Password=mco"
   providerName="System.Data.SqlClient" />
  <add name="MCO_DailyUpdate.Properties.Settings.MCOConnectionString"
   connectionString="Data Source=10.97.6.10;Initial Catalog=MCO;Persist Security Info=True;User ID=mconew;Password=mconew"
   providerName="System.Data.SqlClient" />
  <add name="MCO_DailyUpdate.Properties.Settings.ASR_DATAConnectionString"
   connectionString="Data Source=10.97.6.78;Initial Catalog=ASR_DATA;Persist Security Info=True;User ID=phuchh;Password=123456"
   providerName="System.Data.SqlClient" />
  <add name="MCO_DailyUpdate.Properties.Settings.WebPortalAgentConnectionString"
   connectionString="Data Source=10.97.6.37;Initial Catalog=WebPortalAgent;Persist Security Info=True;User ID=wpa;Password=Tien221068!@#"
   providerName="System.Data.SqlClient" />
  <add name="MCO_DailyUpdate.Properties.Settings.NGAY_CONGConnectionString"
   connectionString="Data Source=10.97.6.10;Initial Catalog=NGAY_CONG;Persist Security Info=True;User ID=ngaycong;Password=ngaycong"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<appSettings>
		<add key="UPDATE_BY" value="6B51E888-1160-4D7B-9D53-AB6B8BA71414"/>
        <add key="MailFrom" value="phuchh@vietnamairlines.com"/>        
        <add key="MailCC" value="ducdt@vietnamairlines.com"/>
        <add key="MailTo" value="hantmy@vietnamairlines.com;phuchh@vietnamairlines.com"/>
        <!--<add key="MailTo" value="ducdt@vietnamairlines.com;hantmy@vietnamairlines.com;ninhdk@vietnamairlines.com;phuchh@vietnamairlines.com;huynhtq@vietnamairlines.com"/>-->
        <add key="MailSubject" value="AUTO_Danh sách EMD thiếu "/>
        <add key="MailSubject2" value="AUTO_Số lượng EMD hoàn/phạt "/>
        <add key="MailSubjectFrom" value="Danh sach EMD thieu "/>        
        <add key="MailServer" value="smtp.vietnamairlines.com"/>
        <add key="MailPass" value=""/>        
        <add key="Mailport" value="25"/>        
        <add key="FileName" value="Danh sach EMD thieu tu "/>        
        <add key="FilePath" value="C:\Phuc\ExcelFile\"/>
        <add key="FileSample" value="EMD_Sample.xls"/>
        <add key="EPR_Email_Day_Before" value="-3"/>
    </appSettings>
</configuration>